<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main_layout.css" rel="stylesheet">
    {% block subhead %}{% endblock %}
      <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a1795bf1081e2705f39309367463677e";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
     <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="profile">
                  <a href="/">
                    <img class="img-circle" src="/img/myavatar.jpg" alt="三家店 - 泊客网">
                  </a>
                  <span>三家店 - 泊客网</span>
                </div>
                <li><a href="/"><span class="glyphicon glyphicon-home"></span>主页</a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-user"></span>关于</a></li>
                <li><a href="/archives"><span class="glyphicon glyphicon-briefcase"></span>归档</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-link"></span>链接 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">我的链接</li>
                    <li><a href="/wchathot.html">微信文章精选</a></li>
                    <li><a href="http://blog.csdn.net/tujiaw">CSDN博客</a></li>
                    <li><a href="https://github.com/tujiaw">我的GitHub</a></li>
                    <li class="dropdown-header">工具</li>
                    <li><a href="/upload.html">上传图片</a></li>
                    <li><a href="http://123.57.244.170:3100/base64">BASE64编解码</a></li>
                  </ul>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- 可折叠导航条 -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="collapse-sidebar-wrapper">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">泊客网</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">主页</a></li>
                <li><a href="/archives">归档</a></li>
                <li><a href="/about">关于</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">相关链接 <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/wchathot.html">微信文章精选</a></li>
                    <li><a href="http://blog.csdn.net/tujiaw">CSDN Blog</a></li>
                    <li><a href="https://github.com/tujiaw">GitHub</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">工具</li>
                    <li><a href="http://123.57.244.170:3100/base64">base64编解码</a></li>
                    <li><a href="/upload.html">上传图片</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav> <!-- 可折叠导航条 -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="content-header">
            <div id="hamburger-wrapper">
              <button type="button" class="hamburger is-open" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
              </button>
            </div>
          </div> <!-- content-header -->
          <div class="page-content inset">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  {% block content %}
                      <p>Missing content!</p>
                  {% endblock %}
                  <footer class="footer">
                    <a href="http://www.miitbeian.gov.cn/" target="_blank"><img src="/img/beian_gov_cn.png" style="vertical-align:middle;margin-right:5px;">鄂ICP备17003086号. Copyright © 2016. All Rights Reserved. </a> 
                  </footer>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div> <!-- page-content inset -->
        </div> <!-- /#page-content-wrapper -->
    </div> <!-- /#wrapper -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% block extend_script %}{% endblock %}
<script type="text/javascript">
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = true;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {
      if (trigger.hasClass('is-open')) {          
        //overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        //overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
    }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
});
</script>
</body>
</html>