<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Blog{% endblock %}</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main_layout.css" rel="stylesheet">
    {% block subhead %}{% endblock %}
</head>
<body>
     <div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <div class="profile">
                  <a href="/">
                    <img class="img-circle" src="/img/myavatar.jpg" alt="三家店 - 泊客网">
                  </a>
                  <span>三家店 - 泊客网</span>
                </div>
                <li><a href="/"><span class="glyphicon glyphicon-home"></span>主页</a></li>
                <li><a href="/about"><span class="glyphicon glyphicon-user"></span>关于</a></li>
                <li><a href="/archives"><span class="glyphicon glyphicon-briefcase"></span>归档</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-link"></span>链接 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">我的链接</li>
                    <li><a href="/wchathot.html">微信文章精选</a></li>
                    <li><a href="http://blog.csdn.net/tujiaw">CSDN博客</a></li>
                    <li><a href="https://github.com/tujiaw">我的GitHub</a></li>
                    <li class="dropdown-header">工具</li>
                    <li><a href="/upload.html">上传图片</a></li>
                    <li><a href="http://123.57.244.170:3100/base64">BASE64编解码</a></li>
                  </ul>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-open" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
            </button>
            <div class="row content">
              {% block content %}
                  <p>Missing content!</p>
              {% endblock %}
            </div>
            
              <footer class="footer">
                <a href="http://www.miitbeian.gov.cn/" target="_blank"><img src="/img/beian_gov_cn.png" style="vertical-align:middle;margin-right:5px;">鄂ICP备17003086号. Copyright © 2016. All Rights Reserved. </a> 
              </footer>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% block extend_script %}{% endblock %}
<script type="text/javascript">
$(document).ready(function () {
  var trigger = $('.hamburger'),
      overlay = $('.overlay'),
     isClosed = true;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {
      if (isClosed == true) {          
        //overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        //overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
    }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
</script>
</body>
</html>