{% extends 'main_layout.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block subhead %}
<link rel="stylesheet" href="/css/github.css">
<link rel="stylesheet" href="/css/github-markdown.min.css">
<link rel="stylesheet" href="/css/show.css">
{% endblock %}
{% block content %}
    <div class="show-content">
        <h1>{{ post.title }}</h1>
        <div class="markdown-body">
            {% autoescape false %}
            {{ post.content }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
