{% extends 'main_layout.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block subhead %}
<link href="/css/signin.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="flex-container">
    <form class="form-signin" action="/user/signin" method="post">
        <h1 class="form-signin-heading">管理员登录</h1>
        <label for="inputUsername" class="sr-only">用户名</label>
        <input type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
        
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 自动登录
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div> <!-- flex-container -->
{% endblock %}

