a:hover {
    text-decoration:none
}

.post-inner {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
}

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-header a {
    color: #08c;
}
.post-header a:hover {
    color: #11B1FF;
}

p.more {
    margin: 15px 0;
    font-size: 16px;
}